<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/paginasLogReg.css">

    <%- include('../partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('../partials/navegacion') %>
    <section id="principal-signin" class="pags-logreg">
        <h1>LOGUEARSE</h1>
        <div class="">
          <form action="/signin" method="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button>Signin</button>
        </div>
        </form>
      </div>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
