<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/paginasLogReg.css">

    <%- include('../partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('../partials/navegacion') %>
    <section id="principal-signin" class="pags-logreg">
        <div class="form-signin">
          <%= message %>
          <form action="/signin" method="POST">
            <a href="/"><img src="/images/logo2.2.png" alt=""></a>
            <h1>Login</h1>
            <p>¿No tienes cuenta?<a href="/signup">¡Registrate gratis!</a></p>
            <div id="inputs">
              <label for="username">Username:</label>            
              <input type="text" name="username" placeholder="Username">
              <label for="password">Password:</label>            
              <input type="password" name="password" placeholder="Password">
            </div>
            <button>Sign In</button>
        
        </form>
      </div>
      <div id="segunda-parte-signin">
        <h1>hola</h1>
      </div>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
