<div id="opciones">
    <div class="botones-info">
      <a href="generate-qr/url"><button><i class="fa-solid fa-link"></i>URL / Link</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>blablalblabllbalballbalab</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/texto"><button><i class="fa-solid fa-font"></i>Texto<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/redes-sociales"><button><i class="fa-solid fa-user"></i>Redes Sociales<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/correo-electronico"><button><i class="fa-solid fa-envelope"></i>Correo electrónico<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/wifi"><button><i class="fa-solid fa-wifi"></i>WIFI<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/geolocalización"><button><i class="fa-solid fa-map-location"></i>Geolocalización<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/telefono"><button><i class="fa-solid fa-phone"></i>Teléfono<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/sms"><button><i class="fa-solid fa-comment-sms"></i>SMS<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/vcard"><button><i class="fa-solid fa-address-card"></i>vCard<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/paypal"><button><i class="fa-brands fa-paypal"></i>PayPal<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/spotify"><button><i class="fa-brands fa-spotify"></i>Spotify<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

    <div class="botones-info">
      <a href="generate-qr/whatsapp"><button><i class="fa-brands fa-square-whatsapp"></i>WhatsApp<i class="fa-regular fa-circle-question"></i></button></a>
    </div>

  </div>