<div id="opciones">
    <div>
      <a href="generate-qr/url"><button><i class="fa-solid fa-link"></i>URL</button></a>
    </div>
    <div>
      <a href="generate-qr/texto">
        <button><i class="fa-solid fa-font"></i>TEXTO</button></a>
    </div>
    <div>
      <i class="fa-solid fa-user"></i>
      <a href="generate-qr/redes-sociales"><button>Redes Sociales</button></a>
    </div>
    <div>
      <a href="generate-qr/correo-electronico"><button>Correo electrónico</button></a>
    </div>
    <div>
      <a href="generate-qr/wifi"><button>WIFI</button></a>
    </div>
    <div>
      <a href="generate-qr/geolocalización"><button>Geolocalización</button></a>
    </div>
    

    <div>
      <a href="generate-qr/telefono"><button><i class="fa-solid fa-link"></i>Teléfono</button></a>
    </div>
    <div>
      <a href="generate-qr/sms"><button><i class="fa-solid fa-font"></i>SMS</button></a>
    </div>
    <div>
      <a href="generate-qr/vcard"><button><i class="fa-solid fa-link"></i>vCard</button></a>
    </div>
    <div>
      <a href="generate-qr/paypal"><button><i class="fa-solid fa-font"></i>PayPal</button></a>
    </div>
    <div>
      <a href="generate-qr/spotify"><button><i class="fa-solid fa-font"></i>Spotify</button></a>
    </div>
    <div>
      <a href="generate-qr/whatsapp"><button><i class="fa-solid fa-font"></i>WhatsApp</button></a>
    </div>

  </div>