<div id="opciones">
    <a href="generate-qr/url"><button>URL</button></a>
    <a href="generate-qr/texto"><button>TEXTO</button></a>
    <a href="generate-qr/redes-sociales"><button>Redes Sociales</button></a>
    <a href="generate-qr/correo-electronico"><button>Correo electrónico</button></a>
    <a href="generate-qr/wifi"><button>WIFI</button></a>
    <a href="generate-qr/geolocalización"><button>Geolocalización</button></a>
  </div>