<div id="opciones">
    <div class="botones-info">
      <a href="generate-qr/url"><button><i class="fa-solid fa-link"></i>URL / Link</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>QR para links. Videos, webs, etc. Te redirigirá directamente al link.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/texto"><button><i class="fa-solid fa-font"></i>Texto</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>QR para textos. Una vez escaneado se mostrará el texto.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/redes-sociales"><button><i class="fa-solid fa-user"></i>Redes Sociales</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>Añade un link a cualquier red social. Esto te enviará directamente al perfil.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/correo-electronico"><button><i class="fa-solid fa-envelope"></i>Correo electrónico</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>Añade tu email y el asunto. Se redigirá al email con un correo preestablecido.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/wifi"><button><i class="fa-solid fa-wifi"></i>WIFI</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>Pon los datos de la red wifi y al escanearlo se podrán conectar a ella.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/geolocalización"><button><i class="fa-solid fa-map-location"></i>Geolocalización</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>Introduce el link de una dirección de Google Maps, la latitud y altitud. Se abrirá la app predeterminada. </p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/telefono"><button><i class="fa-solid fa-phone"></i>Teléfono</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>Crea un codigo QR para numeros de telefono.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/sms"><button><i class="fa-solid fa-comment-sms"></i>SMS</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>Introduce un numero y un mensaje para enviarle un SMS.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/vcard"><button><i class="fa-solid fa-address-card"></i>vCard</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>Introduce tus datos personales para generar un codigo QR para tu carta de presentación virtual.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/paypal"><button><i class="fa-brands fa-paypal"></i>PayPal</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>Codigo QR con link directo a tu paypal.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/spotify"><button><i class="fa-brands fa-spotify"></i>Spotify</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>Introduce el link de una playlist o de una cancion para crear un codigo QR que te envie a ella.</p></div>
    </div>

    <div class="botones-info">
      <a href="generate-qr/whatsapp"><button><i class="fa-brands fa-square-whatsapp"></i>WhatsApp</button></a>
      <i class="fa-regular fa-circle-question"></i>
      <div class="popup-prueba"><p>xd</p></div>
    </div>

  </div>