<div id="imagenes-fondo-abs">
    <img draggable="false" src="/images/circulo.png" alt="" class="imagenes-fondo cirulo-clase" id="circulo2">
    <img draggable="false" src="/images/circulo.png" alt="" class="imagenes-fondo cirulo-clase" id="circulo">
    <img draggable="false" src="/images/circulo.png" alt="" class="imagenes-fondo cirulo-clase" id="circulo3">
    <img draggable="false" src="/images/circulo.png" alt="" class="imagenes-fondo cirulo-clase" id="circulo4">
    <img draggable="false" src="/images/scan-qr-code.png" alt="" class="imagenes-fondo" id="icono-qr">
    <img draggable="false" src="/images/qr-wallet.png" alt="" class="imagenes-fondo" id="icono-qr2">
    <img draggable="false" src="/images/cruz.png" alt="" class="imagenes-fondo cruz-clase" id="cruz">
    <img draggable="false" src="/images/cruz.png" alt="" class="imagenes-fondo cruz-clase" id="cruz3">
    <img draggable="false" src="/images/cruz.png" alt="" class="imagenes-fondo cruz-clase" id="cruz4">
  </div>