<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
    <div class="caja-logo">
      <a draggable="false" href="/"><img draggable="false" src="/images/logo2.2.png" class="logo" alt=""></a>
    </div>
    <% if (user) {%>
    <ul>
        <li><a draggable="false" href="/biblioteca">Biblioteca</a></li>
        <li><a draggable="false" href="/masvotados">Tendencia</a></li>
        <li><a draggable="false" href="/nuevosqr">Nuevos</a></li>
        <li><a draggable="false" href="generate-qr">Crear QR</a></li>
        <li><a draggable="false" href="/tus-qr">Tus QR</a></li>
        <li><a draggable="false" href="/logout">Logout</a></li>
    </ul>
    <% } else { %>
    <ul>
        <li><a draggable="false" href="/biblioteca">Biblioteca</a></li>
        <li><a draggable="false" href="/masvotados">Tendencia</a></li>
        <li><a draggable="false" href="/nuevosqr">Nuevos</a></li>
        <li><a draggable="false" href="generate-qr">Crear QR</a></li>
        <li><a draggable="false" href="/signin">Login</a></li>
        <li><a draggable="false" href="/signup">Registrarse</a></li>
    </ul>
    
    <% } %>
</nav>