<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/images/logo2.png" alt="">
        <div>
          <h1>Biblioteca</h1>
          <h1>Ayuda</h1>
        </div>
        <div>
          
          <h1>Login</h1>
          <h1>Registrarse</h1>
        </div>
      </header>
</body>
</html>