<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/links') %>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo2.2.png" alt=""></a>
 
          <div id="links-header">
            <div id="bib-help">
              <a href="/biblioteca">Biblioteca</a>
              <a href="/masvotados">Tendencia</a>
              <a href="/nuevosqr">Nuevos</a>
              <a href="generate-qr"><button class="custom">Crear Code QR</button></a>
            </div>
            <div id="log-reg">
              <a href="/tus-qr">Tus QR</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
           
          <div id="links-header">
            <div id="bib-help">
              <a href="/biblioteca">Biblioteca</a>
              <a href="/masvotados">Tendencia</a>
              <a href="/nuevosqr">Nuevos</a>
              <a href="/generate-qr"><button class="custom">Crear Code QR</button></a>
            </div>
            <div id="log-reg">
              <a href="/signin" id="enlace-login">Login</a>
              <a href="/signup">Registrarse</a>
            </div>
          </div>

      </header>
</body>
</html>