<!DOCTYPE html>
<html>
  <head>
    <title>QR Arc</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="/images/logo2.png" alt="">
      <div>
        <h1>Biblioteca</h1>
        <h1>Login</h1>
        <h1>Registrarse</h1>
      </div>
    </header>
    <section id="principal">
      <div></div>
    </section>
  </body>
</html>
