$color-primario: #3498db
$color-secundario: #ffffff
$color-primario-hover: #2980b9
$color-secundario-hover: #f2f2f2
*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    font-family: 'Roboto', sans-serif

header
    display: flex
    justify-content: space-between
    height: 100px
    div
        display: flex
        justify-content: flex-end
        align-items: center
        width: 40%
        h1
            margin-left: 50px
            margin-right: 50px
    img
        width: auto
        margin-left: 50px
    display: flex
    justify-content: center

#principal
    height: 200vh
    // background: url("/images/webb-dark.png") 
    background-repeat: repeat
    display: flex
    justify-content: center
    .info-bots
        #frases
            margin-top: 50px
            height: auto
            width: 60%
            border: 1px solid
            display: flex
            align-items: center
            flex-direction: column
            background-color: #f2f2f2
            padding: 20px
            border-radius: 100px 0 100px 0
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
            margin-bottom: 20px
            h1
                font-size: 60px
                color: #3498db
            p
                font-size: 30px
                color: #555555
                line-height: 1.5
                text-align: center
            .custom
                font-family: Bebas Neue,sans-serif
                color: #fff
                background: linear-gradient(90deg,#0066CC 0%,#c500cc 100%)
                padding: 20px 50px
                border: none
                box-shadow: rgb(0,0,0) 0 0 0 0
                border-radius: 50px
                transition: 1s
                margin-top: 40px

                &:hover
                    background-color: $color-secundario-hover

                &:active
                    transform: scale(0.95)
                    transition: 0.4s
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
    #opciones
        width: 60%
        display: flex
        flex-wrap: wrap
        align-items: center
        gap: 30px
        justify-content: center
        a
            button
                width: 300px
                height: 70px
                padding: 20px
                border-top-right-radius: 10px
                border-top-left-radius: 10px
                border: 1px solid
                &:hover
                    background: #3498db
                    border-bottom-color: #0a3755
                    border-bottom-width: 5px
    .div-qr
        width: 50%
        h1
            text-align: center
            font-size: 40px

                
