<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleQRtexto.css">
    <%- include('../partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('../partials/navegacion') %>
    <section id="principal-texto">
      
      <%- include('../partials/configuracionQR') %>

    
    
    </section>
    
    <script>
        const div = document.getElementById('divPrueba');
        const div2 = document.getElementById('divPrueba2');
        const div3 = document.getElementById('divPrueba3');
        const boton = document.getElementById('botonFlotante');
        const boton2 = document.getElementById('botonFlotante2');
        const boton3 = document.getElementById('botonFlotante3');

        boton.addEventListener('click', function() {
        div.classList.toggle('div-expandido');
        });
        boton2.addEventListener('click', function() {
        div2.classList.toggle('div-expandido');
        });
        boton3.addEventListener('click', function() {
        div3.classList.toggle('div-expandido');
        });
      

      function actuValor() {
        const inpRange = document.getElementById("inpRange");
        const valorRango = document.getElementById("valorRango");
        valorRango.textContent = inpRange.value+"px";
    }

    actuValor();
    </script>
  </body>
</html>

